@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap');
// LAto
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
// MontStreat
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
// alata
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

// Fonts
$poppins: 'Poppins', sans-serif;
$lato:  'Lato', sans-serif;
$mont: 'Montserrat', sans-serif;
$alata: 'Alata', sans-serif;

// Colors
$black:#202529;
$blue: #02618d;
$violet: #691ba1;


