@import '../_variable';

.home {
    max-width: 1280px;
    margin: 0 auto;


    .products {
        margin: 1rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 3rem;
    }

    .link-to-products {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}